{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Movies Name</label>
            <input type="text" class="form-control" name="moviename" placeholder="Enter movies Name">
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <input type="text" class="form-control" name="description" placeholder="Enter Description">
        </div>

        <div class="mb-3">
            <label class="form-label">Image</label>
            <input type="file" class="form-control" name="img" placeholder="Enter Image">
        </div>

        <div class="text-center">
            <input type="submit" class="btn btn-outline-primary ">
        </div>
    </form>

</div>
{% endblock %}